form label {
    display: block;
}

.page-num {
    text-align: center;
    margin: 1px;
    padding: 1px;
    border-radius: 3px;
    background-color: orange;
    width: 20px;
}

.page-num:hover {
    cursor: pointer;
    width: 30px;
}

.loading {
    text-align: center;
    font-size: large;
}

.app-content {
    text-align: center;
}